@import '../../../styles/settings.scss';

.header {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    font-weight: 700;
    background-color: $color-secondary;
    color: $color-main;
}

.name {
    text-decoration: none;
    color: $color-primary;
    font-weight: 700;
    font-size: 2rem;
}
.nav {
    display: flex;

.cart {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    position: relative;
}

.cartIcon {
    margin-right: 1.5rem;
}

.cartCounter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -0.5rem;
    left: 25px;
    border: 2px solid $color-dark;
    border-radius: 50%;
    padding: 1px;
    width: 15px;
    height: 15px;
}

    a {
        padding: 0.5rem;
        margin: 0.3rem;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-primary;
        font-weight: 700;
    }
}