@import '../../../styles/settings.scss';

.header {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    font-weight: 700;
}

.name {
    text-decoration: none;
    color: $color-primary;
    font-weight: 700;
    font-size: 2rem;
}
.nav {
    display: flex;

.basket {
    margin: 0 0.5rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    position: relative;
    margin-right: 1.5rem;
}

.basketCounter {
    position: absolute;
    top: 5px;
    left: 32px;
    border: 2px solid red;
    border-radius: 50%;
    padding: 1px;
    width: 15px;
    height: 15px;
    text-align: center;
}

    a {
        padding: 0.5rem;
        margin: 0.3rem;
        // text-decoration: none;
        // text-transform: uppercase;
        // background-color: $color-secondary;
        // color: $color-main;
        // border-radius: 5px;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-primary;
        font-weight: 700;
    }
}