@import '../../../styles/settings.scss';

.button {
    background-color: $color-primary;
    height: 2rem;
    width: 50%;
    border-radius: 5px;
    margin: 1rem;
    border: none;
    color: $color-main;
    text-transform: uppercase;

    &:hover {
    background-color: $color-light;
    color: $color-primary;
    }
}

