@import '../../../styles/settings.scss';

.button {
    background-color: $color-primary;
    color: $color-white;
    height: 2rem;
    width: fit-content;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    &:hover {
        background-color: lighten($color-primary, 15%);
      }

    &:active {
        background-color: $color-primary;
        color: $color-main;
    }
}

