$color-main: #EBE9E1; // vanilla
$color-primary: #E43D12; //red
$color-secondary: #EFB11D; // dark yellow
$color-dark: #D6536D; // pink dark
$color-light: #FFA2B6; // pink light

// $font-text: "Nunito", sans-serif;
// $font-header: "Roboto Mono", monospace;

// $transition-color: color .15s linear;
// $transition-background: background-color .15s linear;

$bold: 700